@model IEnumerable<datagrid_mvc5.Models.Order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
       truy
    </p>
   
</body>
</html>
